/* Reset some default styles for better consistency */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, pre, code {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: #fff; /* Text color for dark background */
  background-color: #1a1a1a; /* Dark background color */
  max-width: 900px;
  margin: 0px auto;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

p {
  margin-bottom: 15px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Code snippets styling */
pre {
  background-color: #2a2a2a;
  color: #c4c4c4;
  padding: 10px;
  border-radius: 5px;
  overflow: auto;
  width: 900px;
  white-space: pre-wrap; /* Preserve line breaks and spaces */
  position: relative; /* Add a position for pseudo-element */
}

code {
  font-family: Consolas, Monaco, 'Courier New', Courier, monospace;
}

/* Specific color for comments in Bash */
code span.comment {
  color: rgb(77, 158, 77); /* Green color for Bash comments */
}
/* Color for keywords */
code span.keyword {
  color: rgb(219, 3, 154); /* Green color for Bash comments */
}

/* Add more styles as needed */
